.section-header{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #212529;

    .header-container{
        display: flex;
        justify-content: center;
        color: white;
        align-items: center;
        width: 50%;
    
        img{
            width: 30%;
            border: 1px solid #4C6EF5;
            margin: 20px;
            padding: 5px;
            border-radius: 30%;
        }
    }
}



